@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --primary-color: #f2c42f;
  --secondary-color: #da661b;
  --tertiary-color: #5ec2bf;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 55px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(3, 3, 3, 0.5);
  color: var(--primary-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 30px auto;
  background-color: var(--secondary-color);
  border-radius: 30px;
  border: 2px solid #333;
  width: 800px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controls {
  margin: 10px;
  margin-top: 0;
}

button {
  padding: 10px;
  margin: 1em;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: 2px solid #333;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-size: 17px;
  color: var(--secondary-color);
}

button:hover,
button:focus {
  background-color: var(--primary-color);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  box-sizing: border-box;
  cursor: pointer;
}

#main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  height: 650px;
  border: 2px solid #333;
  box-sizing: border-box;
}

/* Creating a grid row to hold the individual grid elements*/
.grid-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

/* Creating grid elements */
.grid-item {
  width: 100%;
  border: 0.5px solid #333;
  background-color: whitesmoke;
  box-sizing: border-box;
}

/* RANGE SILDER */
.range-slider {
  width: 350px;
  height: 75px;
  font-family: "Poppins", sans-serif;
  padding: 0.75em;
  margin: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: whitesmoke;
  color: var(--secondary-color);
}

input {
  width: 100%;
}

.field {
  display: flex;
  justify-content: center;
}

.value {
  padding: 1em;
}

.slider-value {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/* Footer design */
footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  padding: 0.5em;
}

footer > p {
  background-color: var(--secondary-color);
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}
