@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --primary-color: #faca78;
  --secondary-color: #9fd3cf;
  --tertiary-color: #264653;
  --heading-color: #da4a37;
  --text-color: #333;
}

body {
  margin: 0;
  background-color: var(--tertiary-color);
}

h1 {
  font-family: "Lobster", cursive;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(224, 255, 255, 0.5);
  color: #da4a37;
  font-size: 65px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 30px auto;
  background-color: var(--secondary-color);
  border-radius: 30px;
  border: 2px solid whitesmoke;
  width: 800px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controls {
  margin: 10px;
  margin-top: 0;
}

button {
  padding: 7px;
  width: 90px;
  margin: 1em;
  font-family: "Press Start 2P", sans-serif;
  border: 2px solid var(--text-color);
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-size: 10px;
  color: var(--text-color);
}

button:not(.clear):hover,
button:not(.clear):focus {
  background-color: var(--heading-color);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  box-sizing: border-box;
  cursor: pointer;
}

.clear {
  background-color: whitesmoke;
  cursor: pointer;
}

#main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 650px;
  height: 650px;
  border: 0.5px solid gray;
  box-sizing: border-box;
}

.grid-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.grid-item {
  width: 100%;
  border: 0.5px solid gray;
  background-color: lightgrey;
  box-sizing: border-box;
}

.range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 75px;
  font-family: "Press Start 2P", sans-serif;
  padding: 0.75em;
  padding-bottom: 0;
  margin: 20px;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  background-color: whitesmoke;
  color: var(--heading-color);
}

input {
  width: 100%;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  padding: 1em;
}

.slider-value {
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  font-size: 15px;
  margin-top: auto;
  font-family: "Press Start 2P", cursive;
  padding: 0.5em;
}

footer > p {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--text-color);
  font-size: 10px;
}

/* Media Query for Phone*/
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 95%;
  }

  #main-grid {
    max-width: 100%;
  }

  .range-slider {
    max-width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  button {
    width: 70px;
    font-size: 8px;
  }

  footer > p {
    font-size: 8px;
  }
}

/* Media Query for Tablet or iPad */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 55px;
  }

  button {
    width: 80px;
    font-size: 10px;
  }

  footer > p {
    font-size: 10px;
  }
}

/* Media Query for Desktop */
@media only screen and (min-width: 769px) {
  h1 {
    font-size: 65px;
  }

  button {
    width: 100px;
    font-size: 12px;
  }

  footer > p {
    font-size: 12px;
  }
}
